.face{
    width: 400px;
    height: 400px;
    background-color: bisque;
    border-radius: 50%;

}

.mouth{
    width: 200px;
    height: 80px;
    background-color: brown;
    border-radius: 0 0 70px 70px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left_ey, 
.right_ey {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}

.right_ey{
    left: 200px;
}
